name: Perl Modules&FHEM Unittests
on: 
  push:
    branches:
      - '*'
      - '!push-action/**/**'
  pull_request:

# Perl matrix versions are defined as repitory variables under settings->Actions secrets and variables
# Example: '["5.32","5.34","5.36"]'.

jobs:
  libModTests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: ['ubuntu-latest']
        perl: ${{ fromJson(vars.PERL_VERSIONS) }}
    name: Perl ${{ matrix.perl }} on ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v6
    - uses: shogo82148/actions-setup-perl@v1.37.0
      with:
        perl-version: ${{ matrix.perl }}
        install-modules-with: cpanm
        install-modules-args: --no-interactive -v --installdeps

    - name: run prove on perl modules (testscripts)
      run: |
        echo "::remove-matcher owner=perl::"
        prove -j3 --exec 'perl -MDevel::Cover=-silent,1 -I lib -I FHEM ' -r -v t/SD_Protoco* t/FHEM/Devices > >(tee -a ${GITHUB_WORKSPACE}/testOutput.stdout) 2> >(tee -a ${GITHUB_WORKSPACE}/testOutput.stderr >&2)
      env:
        FHEM_DIR: /opt/fhem
    - name: Create clover report for perl Modules
      run: cover -report clover

    - uses: codecov/codecov-action@v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: clover.xml
        directory: ./cover_db
        flags: perl-modules-${{ matrix.perl }}
        name: perl modules (testscripts) ${{ matrix.perl }}

    - uses: reviewdog/action-setup@v1
      if: always() && github.event_name == 'pull_request'
      with:
        reviewdog_version: latest 
    
    - name: Run reviewdog
      if: always() && github.event_name == 'pull_request' && !cancelled()
      env:
        REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
          reviewdog  \
            -name=perl-${{ matrix.perl }} \
            -reporter="github-pr-check" \
            -filter-mode="file" \
            --diff="git diff ${{ github.base_ref }}" \
            
  test_fhem_modules:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        perl: ${{ fromJson(vars.PERL_VERSIONS) }}
        testdir:
          - 00_SIGNALduino
          - other_modules
    name: FHEM ${{ matrix.perl }} / ${{ matrix.testdir }}
    steps:
    - uses: actions/checkout@v6
    - uses: shogo82148/actions-setup-perl@v1.37.0
      with:
        perl-version: ${{ matrix.perl }}
        install-modules-with: cpanm
        install-modules-args: --no-interactive -v --installdeps

    - name: Install FHEM via debian nightly
      uses: fhem/setup-fhem@v1.0.1
      
    - name: change ownership of /opt/fhem
      run: |
        sudo chown -R --reference=cpanfile /opt/fhem

    - name: patch FHEM installation with symlinks
      run: bash .devcontainer/link_recursive.sh

    - name: run prove fhem testsuite for ${{ matrix.testdir }}
      run: |
        if [ "${{ matrix.testdir }}" == "other_modules" ]; then
          # Suche alle Testverzeichnisse außer 00_SIGNALduino und führe Tests im Batch aus
          prove_dirs=$(find ${GITHUB_WORKSPACE}/t/FHEM/ -maxdepth 1 -type d -name '[0-9][0-9]_*' ! -name '00_SIGNALduino' -printf '%p ')
          prove -j3 --exec 'perl -MDevel::Cover=-silent,1 fhem.pl -t' -I FHEM -v -r $prove_dirs > >(tee -a ${GITHUB_WORKSPACE}/testOutput.stdout) 2> >(tee -a ${GITHUB_WORKSPACE}/testOutput.stderr >&2)
        else
          # Führe nur Tests für 00_SIGNALduino aus
          prove -j3 --exec 'perl -MDevel::Cover=-silent,1 fhem.pl -t' -I FHEM -v -r ${GITHUB_WORKSPACE}/t/FHEM/${{ matrix.testdir }}/  > >(tee -a ${GITHUB_WORKSPACE}/testOutput.stdout) 2> >(tee -a ${GITHUB_WORKSPACE}/testOutput.stderr >&2)
        fi
      working-directory: /opt/fhem/
      env:
        FHEM_DIR: /opt/fhem

    - name: Create clover report for ${{ matrix.testdir }}
      working-directory: /opt/fhem/
      run: cover -report clover

    - uses: codecov/codecov-action@v5.5.2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: clover.xml
        directory: /opt/fhem/cover_db
        flags: fhem-${{ matrix.testdir }}-${{ matrix.perl }}
        name: fhem-${{ matrix.testdir }} ${{ matrix.perl }}